/*  landing styles  */


/*  GENERAL  */

body {
    margin: 0px 200px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
    text-decoration: none;
}

#one, footer {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    width: 150px;
    height: 40px;
}

/*  Header/Top  */

#one {
    padding: 3px 150px 50px 150px;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

#hero h1 {
    font-weight: bolder;
    margin-top: -10px;
    color: #F9FAF8;
    font-size: 48px;
}

#hero p, a, footer {
    font-size: 18px;
    color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
}

nav a {
    padding-left: 20px;
}

#upper-flex {
    margin-left: 100px;
    margin-right: 100px;
}

#hero {
    display: flex;
    margin: 100px 100px;
    justify-content: space-between;
    flex: 1 1 0;
}

#hero1 {
    max-width: 425px;
}


#hero2 {
    background-color: grey;
    width: 600px;
    height: 280px;
}

#hero2 p {
    text-align: center;
    padding: 110px 0;
}




/*  Some random info style  */

#body {
    background-color: #F9FAF8;
    margin: 0 0;
    padding-top: 50px;
    padding-bottom: 100px;
}

#body h2 {
    text-align: center;
    font-size: 32px;
    font-weight: extra-bold;
    color: #1F2937;
}

#imgbody {
    display: flex;
    justify-content: center;
    margin: auto;
}

.square {
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 12px;
    height: 150px;
    width: 150px;
}

.imgtext {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 40px;
}

.imgtext p {
    margin-top: 5px;
    margin-left: 2px;
    font-size: large;
    color: rgb(122, 120, 120);
    font-weight:bold;
}


/*  Quote style  */

#quote{
    background-color: #E5E7EB;
    padding: 150px;
    margin: 0px;
}

#q {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

#quote p {
    font-weight: bold;
    text-align: end;
    font-size: 26px;
    margin: 0;
    padding-right: 20px;
}


/*  call to action  */

#callbox {
    background-color: #F9FAF8;
    margin: 0px;
    border-style: solid;
    border-color: #F9FAF8;
    padding: 75px 250px 75px 250px;
}

#call {
    margin: auto;
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    padding: 25px 100px 25px 100px;
}

#call p {
    color: #E5E7EB;
    margin-top: -25px;
    font-size: 20px;
}


#call button {
    border-style: solid;
    border-color: #E5E7EB;
    margin-top: 30px;
}


/*  footer style  */

footer {
    margin: 0px;
    text-align: center;
    padding: 10px;
}

